# Environnements Python
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Notebooks d'exploration uniquement
tests.ipynb
api/test_api.ipynb
db/test_db.ipynb

# Bases locales
*.db
*.sqlite
*.sqlite3
*.sqlitedb

# Logs / fichiers locaux
notes.txt
*.log

# Secrets / variables d'env
.env
.env.*
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Tests / coverage
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Streamlit local config
.streamlit/

# Docker
# fichiers générés localement
*.tar

# PostgreSQL
pgdata/